/* css style sheet for responsive-portfolio*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Playfair Display', serif;
}

/* CSS for body elements */

body {
    background-image: url(https://wallpapercave.com/wp/wp3264044.jpg);
    
}

/* setting margins for about me on main Page*/

.about_me_card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}










