/* css style sheet for responsive-portfolio*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-size: large;
}
carouselExampleSlidesOnly {
    position: relative;
    background:none;
  }

carouselExampleSlidesOnly:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(https://placebear.com/g/900/300);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;
}

/* CSS for body elements */

body {
    background-image: url(https://media.gettyimages.com/videos/rain-animation-on-black-background-overlay-alpha-channel-video-id1076492536?s=640x640);
    
}

/* setting margins for about me on main Page*/

.about_me_card {
    color: white;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

h1 {
    text-align: center;
    color: white;
}

.mb-4 {
    background-color: white;
    margin-top: 0;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom:100px;
}













