/* css style sheet for responsive-portfolio*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-size: large;
}

/* CSS for body elements */

body {
    background-image: url(https://wallpapercave.com/wp/wp3264044.jpg);
    
}

/* setting margins for about me on main Page*/

.about_me_card {
    color: white;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.card {
    color: black;
    margin: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

h1 {
    text-align: center;
    color: white;
}













